:root {
    --background: #000;
    --font-family-text: Georgia, 'Times New Roman', Times, serif;
    --color: #bbb;
    --text: #eee;
    --heigh: 120px;
    --font-size-hf: 24px;
    --font-size-text: 33px;
    --font-weight: 600;
    --line-height-text: 56px;

    --font-size-hf-media: 18px;
    --font-size-text-media: 26px;
    --line-height-text-media: 40px;
    --heigh-media: 80px;
}

*::before *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: border-box;
}

html,
body {
    height: 100%;
    margin: 0 auto;
    cursor: url("./img/cur.png") 4 4, pointer;
    background-image: url("./img/fff.png");
    font-family: var(--font-family-text);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    /* background-image: url("./img/fff.png"); */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 140px;
    opacity: 0.8;
    flex: 1 1 auto;
}

/* ###### header and footer ######################################### */

.header {
    width: 100%;
    height: var(--heigh);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--background);
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.header-logo {
    width: 50px;
}

.header-menu {
    display: flex;
}

.menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px;
    z-index: 1;
    text-transform: uppercase;
    font-size: var(--font-size-hf);
    font-weight: var(--font-weight);
}

.imgMenu a {
    background-image: url("./img/line.png");
    background-position: 2px 9px;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    display: flex;
    text-decoration: none;
}

.imgMenu:hover a {
    background-image: url("./img/line2.png");
    background-position: 2px 9px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100px;
    text-shadow: 2px 2px 8px #18aaff;
    cursor: url("./img/cur.png") 12 12, grab;
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000000b6;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--color);
    font-size: var(--font-size-hf);
    font-weight: var(--font-weight);
    padding: 20px;

    width: 180px;
    height: 100px;
    background-image: url("./img/line2.png");
    background-position: -5px 15px;
    background-repeat: no-repeat;
}

.link:hover {
    text-shadow: 2px 2px 8px #18aaff;
    cursor: url("./img/cur.png") 12 12, grab;
}

.github {
    border-radius: 24px;
}

/* main ############################################################# */

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    border: 14px solid #141414;
    border-radius: 340px 10px 340px 10px;
    width: 200px;
    height: 300px;
    margin: 20px;
    filter: drop-shadow(4px 4px #bbb);
    /* filter: drop-shadow(7px 7px rgba(0, 162, 255, 0.136));  */
}

.img:hover {
    display: flex;
    justify-content: center;
    /* -webkit-filter: drop-shadow(0 0 50px  #a5a5a5); */
    filter: drop-shadow(0 0 40px #bbbbbb75);
}

.main-text {
    color: var(--text);
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about ########################################################## */

.fixed {
    float: right;
}

.about-text {
    color: var(--text);
    font-weight: var(--font-weight);
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
}

span {
    font-size: var(--font-size-text);
    color: var(--color);
    text-shadow: 2px 2px 6px #18aaffb9;
}

/* portfolio rainbow gradient ############################## */

.portfolio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.two {
    border-radius: 20px 80px 20px 80px;
    width: 240px;
    height: 340px;
    filter: brightness(50%);
}

/* ###################### */

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.outer {
    position: relative;
    margin: 20px 20px;
    background: #2a2a2a;
}

.circle {
    width: 260px;
    height: 360px;
    border-radius: 20px 80px 20px 80px;
}

.outer button,
.outer span {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(-50% -50%);
}

.outer button {
    background: #00000047;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: url("img/cur.png") 12 12, grab;
}

.circle button {
    width: 260px;
    height: 360px;
    border-radius: 20px 100px 20px 100px;
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 20px 80px 20px 80px;
}

.outer:hover span:nth-child(1) {
    filter: blur(17px);
}

.outer:hover span:nth-child(2) {
    filter: blur(17px);
}

.outer:hover {
    background: linear-gradient(-90deg, rgb(25, 0, 255), rgb(0, 106, 255), rgb(0, 187, 255), rgb(1, 252, 101));
    animation: rotate 5.5s linear infinite;
}

/* ################################################# */

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/* media 998px ; 550px ###################################### */

@media (max-width: 998px) {

    /*  header and footer ================================= */

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--heigh-media);
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-hf-media);
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo {
        width: 40px;
    }

    .imgMenu a {
        background-image: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .imgMenu:hover a {
        background-image: none;
        width: 100%;
    }

    .footer {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .footer-img {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .link {
        display: flex;
        font-size: var(--font-size-hf-media);
        padding: 20px;
    }

    /* main =============================================== */

    .main-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        display: flex;
        justify-content: center;
    }

    .main-text {
        font-size: 32px;
        line-height: 44px;
        font-weight: 500;
        display: flex;
        padding: 0px 40px;
    }

    /* about #################################################### */

    .fixed {
        float: right;
    }

    .about-text {
        font-size: var(--font-size-text-media);
        line-height: var(--line-height-text-media);
        padding: 0px 40px;
    }

}

@media (max-width: 550px) {
    .imgMenu a {
        background-image: none;
        width: 100%;
        height: 100%;
    }

    .imgMenu:hover a {
        background-image: none;
        width: 100%;
        height: 100%;
    }
}