*::before
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: border-box;
}
html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    background: #000000;
    cursor: url("/img/cur.png") 32 32, pointer; 
    /* cursor: url("/img/IMG_80_x_50.png") 8 2, pointer;  */
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ################################################################################### */

.top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    background: #000000c8;
}
.fon {
    background-image: url('/img/fff.png');
    width: 100vw;
    height: 100wh; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 120px;
    
    opacity: 0.8;
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}

/* h4 {
    color:rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    font-size: 26px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
} */
h2 {    
    color: #ffffff;
    width: 50%;

    /* font-family:'Courier New', Courier, monospace; */
    
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /* font-family: serif; */
   
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.footer {
    width: 100%;
    height: 100px;
    /* min-height: 100%; */
    background: #00000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 80px; */
} 
/* .links {
    display: flex;
    height: 100px;
}*/
ul {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 5px;
    padding: 5px;
}
li {
    color: #bbb;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    /* flex-direction: row; */
}
ul li img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 5px 30px;
}
li a {
    text-decoration: none;
    color: #bbb;
}



/* main ################################################################################### */

img {
    width: 100%;
    height: 100%;
}
.img {
    border: 14px solid #141414;
    border-radius: 340px 10px 340px 10px;
    width: 200px;
    height: 300px;
    margin: 20px;
    filter: drop-shadow(7px 7px rgba(0, 162, 255, 0.136)); 
    
}
.img:hover {
    display: flex;
    justify-content: center;
    -webkit-filter: drop-shadow(0 0 50px  #a5a5a5);
    filter: drop-shadow(0 0 40px #ffffff4e);
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
    height: 100px;
    width: 150px;
    z-index: 1;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;

}
.imgMenu a {
    background-image: url("/img/top.png");
    background-position:-15px 14px;
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:#bbbbbb;
}
.imgMenu:hover a {
    background-image: url("/img/IMG_120_x_70.png");
    background-position: 15px 20px;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;        
    align-items: center;
    
    width: 240px;
    height: 100px;
    color: #0086ce;
    cursor: url(/img/cur.png) 12 12, grab;
}


/* ################################################################################### */

.two {
    border-radius: 20px 80px 20px 80px;
    width: 240px;
    height: 340px;
    filter: brightness(50%);
}

/* rainbow gradient ################################################################################### */
.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
}
.outer {
    position: relative;
    margin: 20px 20px;
    background: #2a2a2a;
}
.circle {
    width: 260px;
    height: 360px;
    border-radius: 20px 80px 20px 80px; /* ### */
}
.outer button, .outer span {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(-50% -50%);
}
.outer button {
    background: #00000047;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: url(/img/cur.png) 12 12, grab;
}
.circle button {
    width: 260px;
    height: 360px;
    border-radius: 20px 100px 20px 100px;
}
.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 20px 80px 20px 80px;
}
.outer:hover span:nth-child(1) {
    filter: blur(17px);
}
.outer:hover span:nth-child(2) {
    filter: blur(17px);
}
.outer:hover {
    background: linear-gradient(-90deg, rgb(25, 0, 255), rgb(0, 106, 255), rgb(0, 187, 255), rgb(1, 252, 101));
    animation: rotate 5.5s linear infinite;
}

/* ################################################################################### */

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* media 713px ; 400px ################################################################################### */

@media (max-width: 713px) {
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
    }
    .fon {
        margin-top: 100px;
    }
    h2 {    
        font-size: 22px;
        line-height: 28px;
        margin: 20px 50px ;
    }
    .menu {
        font-size: 16px;
        font-weight: 600;
        gap: 2px;
        height: 80px;
    } 
    .imgMenu a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-repeat: no-repeat;
        width: 120px;
        height: 80px;
    }
    .imgMenu:hover a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/img/IMG_120_x_70.png");
        background-position: 4px 14px;
        background-repeat: no-repeat;
        width: 120px;
        height: 80px;
    }
    .img {
        width: 150px;
        height: 250px;
    }

    /* .footer {
        width: 100%;
        height: 80px;
    } */
    li {
        font-size: 16px;
    }

    /* ############### */

    .center {
        flex-wrap: wrap;
    }
    .outer {
        margin: 50px 0px;
    }
    .outer .circle {
        width: 160px;
        height: 260px;
    }
    .circle {
        width: 160px;
        height: 260px;
        margin: 15px;
    }
    .circle button {
        width: 160px;
        height: 260px;
    }
    button {
        width: 160px;
        height: 260px;
    }
    .two {
        width: 140px;
        height: 240px;
    }
    .one {
        width: 140px;
        height: 240px;
    }
}
@media (max-width: 400px) {
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    .fon {
        margin-top: 60px;
    }
    .menu {
        font-size: 12px;
        font-weight: 300;
        gap: 2px;
        height: 50px;
    } 
    .img {
        margin: 20px 20px 100px 20px;
    }
    .imgMenu a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-position: 4px 4px;
        background-repeat: no-repeat;
        width: 80px;
        height: 50px;
    }
    .imgMenu:hover a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/img/IMG_80_x_50.png");
        background-position: 4px 4px;
        background-repeat: no-repeat;
        width: 80px;
        height: 50px;
    }
}